.sidebar {
    width: 20%;
    height: 100%;
    padding: 1.5rem;
    /* background-color: #f9f9f9; */
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 1.5rem;
}

.custmizbleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.custmizbleContainer label {
    font-weight: 600;
    font-size: 1rem;
}

.dropdownContainer {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
    height: 20px;
}
.title p{
    margin-bottom: 10px;
}

.options label {
    display: block;
    padding-top: 0.7rem;
    font-size: 0.95rem;
    color: #666;
}

.options input {
    margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .sidebar {
        display: none;
    }
}
